
#title{
		font-family: 'Oxygen', sans-serif;
		font-size: 15pt;
		font-weight: 900;
		color:#b6dbd;
		background-color: #b6dbd4;
		
}

#blanket {
	background-color:#111;
	opacity: 0.65;
	filter:alpha(opacity=65);
	position:absolute;
	z-index: 9001;
	top:0px;
	left:0px;
	width:55em;
	height:10em;
	z-index:3;
}


#sched{
	border: 1;


	width: 100%;
	position: absolute;
	top: 25em;
	left: 29.32em;
	right: 0;
	bottom: 0;
	height: 20em;
	width: 55em;
}


BODY
   {
    font-family: 'Oxygen', sans-serif;
	font-size:8pt;
	color:#b6dbd;
	
   }
#debug{
	color: red;
}

#map_canvas {
position: relative;
top: 0em;
left: 2em;
right: 0;
bottom: 0;
height: 20em;
width: 40em;
padding: 0 20px 0 0;
}

#booking{
overflow-y: scroll;
/*
position: absolute;
top: 25em;
left: 29.32em;
right: 0;
bottom: 0;
height: 20em;
width: 55em;
overflow: scroll;
<<<<<<< HEAD
padding: 0 20px 0 0;
=======
*/

}

.informationTable{

	font-family: 'Oxygen', sans-serif;

}
#information{
}
select, label {
	width:100px;    /*Or however much space you need for the formÕs labels*/
    float:left;
}
.dates{
	font-size:11pt;
	margin:0%;
}

.days{
	margin:0%;
}
.tables{
	font-family: 'Oxygen', sans-serif;
	font-size: 11pt;
	color:#b6dbd;
	margin-left: 10px;
}
#temp{
	ont-size: 7pt;
}
#padme{
	padding: 0 0 8px 0;
}
#fontdudes{
	font-family: 'Oxygen', sans-serif;
	font-size: 12pt;
}
.cities{
	padding: 0 0 0 120px;
}
#col1{
	width:80px;
}

#scheduleView{
	position: absolute;
	top: 450px;
	left: 200px;
	
}

#mapView{
	position: absolute;
	top: 70px;
	left: 300px;
	
}

.pin {
width: 20px;
height: 34px;
cursor: pointer;
cursor: hand;
}

img {
margin: 0;
padding: 0;
border: 0;
-moz-user-select: none;
}

.res .icon {
cursor: pointer;
text-align: center;
}

.popup {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	color:#000;
	background:#f3961c; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
	background:-moz-linear-gradient(#f9d835, #f3961c);
	background:-o-linear-gradient(#f9d835, #f3961c);
	background:linear-gradient(#f9d835, #f3961c);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}


/* creates triangle */
.popup:after {
	content:"";
	position: relative;
	bottom:-25px; /* value = - border-top-width - border-bottom-width */
	border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#f3961c transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

a.remove_city {
	color: #B53934;
	text-decoration: none;
	font-size: 18px;
	vertical-align: middle;
	cursor: pointer;
}
