
#title{
		font-family: 'Oxygen', sans-serif;
		font-size: 20pt;
		font-weight: 900;
		text-align: left;
		color:#b6dbd;
		background-color: #b6dbd4;
}


.informationTable{
	font-family: 'Oxygen', sans-serif;

}
.tables{
	font-family: 'Oxygen', sans-serif;
	font-size: 11pt;
	color:#b6dbd;
}
#fontdudes{
	font-family: 'Oxygen', sans-serif;
	font-size: 12pt;
}
.cities{
	padding: 0 0 0 120px;
}
#col1{
	width:80px;
}
.popup {
	position:relative;
	margin:1em 0 3em;
	color:#000;
	background:#f3961c; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
	background:-moz-linear-gradient(#f9d835, #f3961c);
	background:-o-linear-gradient(#f9d835, #f3961c);
	background:linear-gradient(#f9d835, #f3961c);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
/* creates triangle */
.popup:after {
   content:"";
   display:block; /* reduce the damage in FF3.0 */
   position:absolute;
   bottom:-15px;
   left:50px;
   width:0;
   border-width:15px 15px 0;
   border-style:solid;
   border-color:#f3961c transparent;
}
